/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
  font-weight: bold;
  font-size: 20px; }

.brand img {
  height: 130px;
  padding: 15px;
  }
  @media (max-width: 1109px) {
    .brand img {
      width: 80%;
      padding: 5px; } }

.site-header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  background: linear-gradient(to bottom, #07161c, #305b6f) }

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  @media (min-width: 1110px) {
    .site-header__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0; } }
@media (min-width: 1110px) {
  .nav__wrapper {
    display: flex; } }

  @media (max-width: 1109px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: black;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out; /* Remove opacity from the transition */
    }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

.nav ul {
  list-style-type: none;
  margin: 0 0 0;
  padding: 5px;
  z-index: 5;
}

.nav__item a {
  display: block;
  padding: 1.5rem 1rem; 
  color: white;
  }

.nav__toggle {
  display: none; }
  @media (max-width: 1109px) {
    .nav__toggle {
      width: 25px;
      display: block;
      position: absolute;
      right: 2rem;
      top: 5rem; } }

.nav ul li ul
{
  display: none;
}

.nav ul li:hover ul
{
  display: block;
  z-index: 7;
  position: absolute;
  margin-top: 0px;
  background: #202020;
  /* border-radius: 6px; */
  width: 150px;
  padding: 2px 2px;
  box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1109px) {
  .nav ul li:hover ul
  {
    width: 100%;
    position: relative;
  }
  .nav ul li:not(:hover) ul {
    display: none;
  }
}
